.Rproj.user
.Rhistory
.RData
.Ruserdata
figures
old-figures
/data-processed/epiforecasts-weeklygrowth/*
logs
!/data-processed/epiforecasts-weeklygrowth/metadata-epiforecasts-weeklygrowth.txt
Rplots.pdf